
{% extends 'base.html' %}

{% block header %}
  {% if g.user %}
  Bonjour {{ g.user['username'].capitalize() }} !
  {% else %}
  Bienvenue
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Se créer un compte</h1>
        <p class="col-md-8 fs-4">Ne pas s'inscrire si tu ne fais pas partie de l'équipe.</p>
          <a class="btn btn-primary btn-lg" href="{{ url_for('auth.login') }}" role="button">Se connecter</a>
          <a class="btn btn-outline-primary btn-lg" href="{{ url_for('auth.signup') }}" role="button">S'inscrire</a>
      </div>
      
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Consulter les Tâches</h2>
          <p>Pour enfin gagner contre votre mari.</p>
          <a class="btn btn-outline-light" href="{{ url_for('task') }}" role="button">Consulter</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Faire les Comptes</h2>
          <p>Pour réaliser que vous n'avez plus d'argent. (et s'il en reste, emmène-moi à sephora, je saurai l'utiliser).</p>
          <a class="btn btn-outline-secondary" href="{{ url_for('counting') }}" role="button">Ajouter vos dépenses</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
