{% extends 'base.html' %}

{% block header %}
Créer une nouvelle tâche
{% endblock %}

{% block content %}
    <form method="post" class="col-xs-12 col-md-6 col-lg-4 mt-3">
        <a class="btn btn-outline-primary mb-3" href="{{ url_for('task') }}" role="button">Revenir à l'ensemble des tâches</a>
        <div class="mb-3">
            <label for="title" class="form-label">Titre</label>
            <input class="form-control" placeholder="Entrer un titre..." name="title" id="title" value="{{ request.form['title'] }}" required>
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Description</label>
            <textarea class="form-control" placeholder="Entrer une description de cette tâche..." name="body" id="body" style="height: 100px">{{ request.form['body'] }}</textarea>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
  </form>
{% endblock %}