{% extends 'base.html' %}

{% block header %}
  <h1 class="mb-0">Créer une nouvelle tâche</h1>
{% endblock %}

{% block content %}
    <form method="post" class="col-xs-12 col-md-8 col-lg-6">
        <div class="mb-3">
            <label for="title" class="form-label">Titre</label>
            <input class="form-control" placeholder="Entrer un titre..." name="title" id="title" value="{{ request.form['title'] }}" required>
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Description</label>
            <textarea class="form-control" placeholder="Entrer une description de cette tâche..." name="body" id="body" style="height: 100px">{{ request.form['body'] }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
  </form>
{% endblock %}