
{% extends 'base.html' %}

{% block header %}
Tâches
{% endblock %}

{% block content %}
    <div class="mb-3">
        <a role="button" href="task/create" class="btn btn-primary">Créer une tâche</a>
    </div>
    <div class="overflow-scroll" style="max-height: 70vh;">
      <div class="list-group">
        {% for task in tasks %}
        <a href="{{ url_for('task.update', id=task['id']) }}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ task['title'] }}</h5>
            <small class="text-muted">{{ task['created'] }}</small>
          </div>
          <p class="mb-1">{{ task['body'] }}</p>
          <small class="text-muted">{{ task['username'] }}</small>
        </a>
        {% endfor %}
    </div>
{% endblock %}
