
{% extends 'base.html' %}

{% block header %}
Tâches
{% endblock %}

{% block content %}
    <div class="btn-group mb-3" role="group" aria-label="Basic example">
        <a role="button" href="task/create" class="btn btn-primary">Créer une tâche</a>
        <button type="button" class="btn btn-outline-primary">Modifier</button>
        <button type="button" class="btn btn-outline-primary">Supprimer</button>
    </div>
    <div class="overflow-scroll" style="max-height: 80vh;">
      <div class="list-group">
        {% for task in tasks %}
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ task['title'] }}</h5>
            <small class="text-muted">{{ task['created'] }}</small>
          </div>
          <p class="mb-1">{{ task['body'] }}</p>
          <small class="text-muted">{{ task['username'] }}</small>
        </a>
        {% endfor %}
    </div>
{% endblock %}
